.logo-container {
  padding: 8px;

  img {
    width: 80px;
    height: 56px;
    background-size: cover;
  }

  div {
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
  }
}

.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 300px;
}

.logo-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 24px;
  padding-right: 16px;
  min-height: 56px;
  display: flex;
  align-items: center;
}

mat-toolbar,
mat-toolbar-row {
  min-height: 56px;
  height: 56px;
}

mat-toolbar {
  background-color: #5f6368;
  color: whitesmoke;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 24px;
    padding-right: 16px;
    height: 48px;
    cursor: pointer;
    color: #5f6368;

    &:hover {
      background-color: #f1f3f4;
    }

    &:active {
      color: #202124;
    }
  }
}

.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
}
