* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.flex-row {
  display: flex;
  gap: 16px;
}

.padding-top {
  padding-top: 8px;
}
